@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  background: transparent;
  border-radius: 8px;
  box-shadow: none;
}